nav{
    width: 100%;
    overflow: hidden;
    background-color: aquamarine;
}
nav h1{
   float: left;
   margin-left: 100px;
}

nav ul{
    margin-right: 50px;
    list-style: none;
    float:right;
    padding: 0;
    
 
}

nav ul li{
    margin: 0;
    display: block;
    float: left;
    padding: 10px 15px;
}

nav ul li:hover{
    background-color: rgb(253, 253, 253);
    color: rgb(38, 117, 91);
}